# bloop and metals
.bloop
.bsp
.metals
project/metals.sbt

# Spark
spark-warehouse

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/target/
target/

#databricks
.databricks

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

# general
*.class

#derby?
metastore_db/
derby.log

#local debugging folder
src/test/scala/example/private/
